.main-header {
  width: 100%;
  height: 14vh;
  display: flex;
  justify-content: center;
}
.header-panel {
  display: flex;
  justify-content: space-between;
  width: 73%;
}

.header-btns {
  padding: 5px;
  gap: 5px;
}

/* ------------ LEFT SECTION ------------ */
.left-section {
  display: flex;
  gap: 14px;
  height: 65%;
  align-items: center;
}

.lang {
  color: #195f9b;
  font-size: 18px;
}
.lang:hover {
  text-decoration: underline;
  transform: scale(1.01);
}

.icon {
  font-size: 38px;
  text-decoration: none;
}

.instagram {
  color: #f45a1f;
}

.facebook {
  color: #1e4b9a;
}

.icon-circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-circle-f {
  border: 1px solid #1e4b9a; /* circle color */
}

.icon-circle-i {
  border: 1px solid #f45a1f; /* circle color */
}

.icon-circle:hover {
  transform: scale(1.2);
}

/* ------------ CENTER MENU ------------ */
.menu {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 50px;
}
.menu-item {
  padding: 20px;
}
.menu a {
  text-decoration: none;
  color: #1e4b9a;
  font-size: 18px;
}

.menu a:hover {
  color: #febc68;
}

@media (max-width: 1600px) {
  .header-panel {
    width: 95%;
  }
}
@media (max-width: 1200px) {
  .logo-image-header {
    width: 200px; /* half of its container width */
    height: auto; /* preserves aspect ratio */
  }
  .menu {
    padding: 20px;
  }

  .menu a {
    font-size: 15px;
  }
}

@media (max-width: 920) {
  .logo-image-header {
    width: 150px; /* half of its container width */
    height: auto; /* preserves aspect ratio */
  }
  .menu a {
    font-size: 14px;
  }
}

@media (max-width: 860px) {
  .left-section {
    display: none;
  }}

