.footer-section {
  background-image: url("../../images/Contact-Us.jpg");
  display: flex;
  position: relative;

  width: 100%;
  height: 75vh;
  color: #fff;
  justify-content: center;
  margin-top: 75px;
}

.footer-section::before {
  content: "";
  position: absolute;
  background-color: rgba(29, 79, 144, 0.85);
  inset: 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  align-items: center;
}
.footer-title {
  font-size: 28px;
  margin: 75px 0;
}

.contact-icons {
  display: flex;
  width: 75%;
  justify-content: space-between;
}
.icon-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.icon-style {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbb056;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
span {
  font-size: 13px;
  color: darkgray;
}
.span-text-small {
  font-size: 8px;
  color: darkgray;
}

.footer-social-icons {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  color: black;
  gap: 35px;
  z-index: 1;
  padding: 20px;
  margin-top: 30px;
}
.footer-social-icons {
  display: flex;
  z-index: 2;
  color: #fbb056;
}
.fab {
  font-size: 42px;
}
